body {
    font-size: 0.875rem; 
}
.nav-top-menu{
    padding-left: 30px;
}

.navbar-item:hover{
    color:red;
}

.form-container {
    max-width: 600px; /* Adjusted maximum width */
    padding: 0 15px;
    margin: 0 auto;
}

.form-control,
.form-select {
    font-size: 0.875rem;
}

.form-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.form-section {
    margin-bottom: 1rem; /* Increased spacing between sections */
}

.form-section .border-bottom {
    padding-bottom: 0.5rem;
}

.submitbtn {
    margin-top: 1rem;
}

.newExpense {
    width: 48px;
    height: 48px;
}
/* 
.compact-input {
    font-size: 0.875rem; 
    font-weight: normal;
    height: auto;
    padding: 0.25rem;
} */

@media (max-width: 767.98px) {
    .mobile {
        display: block;
        background-color: #434040;
    }

    .desktop {
        display: none;
    }

    .mobile-menu {
        background-color: #434040;
    }
   
    #submitform.mobile {
        display: inline-block; 
    }
}

@media (min-width: 768px) {
    .desktop {
        display: inline-block; 
    }

    #submitform {
        display: none;
    }
}

.tooltips{
    border-color:#8f9393;
}

.newExpense{
    background-color: purple; 
    width: 60px; 
    height: 60px;
}

.icon-list{
    width:30px;
    display:flex; 
    justify-content:center; 
    align-items:center;
}
.container-fluid {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-container {
    max-width: 500px;
    margin: auto;
}
.form-control,
.form-select {
    font-size: 0.875rem; /* Smaller font size */
}
.form-title {
    font-size: 1.25rem; /* Smaller title size */
}
.form-section {
    padding-bottom: 0.5rem; /* Smaller padding */
    margin-bottom: 1rem; /* Smaller margin */
}

.teste {
    width: 100px;
}

